body{
    background-color: black;
}

.logo{
    font-family: sans-serif;
    font-size: 30px;
    color: #ffc300;
    margin-right: auto;
    cursor: pointer;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 5%;
    flex-wrap: wrap;
}

li a{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.navigation li{
    display: inline-block;
    padding: 0px 20px;
}

.navigation li a {
    transition: all 0.3s ease 0s;
}

.navigation li a:hover{
    color: #ffc300;
}

.introduktion{
    color: white;
}

button{
    background: #ffc300;
    border-radius: 20%;
    margin-left: 350px;
}

.show{
    color: white;
}

footer{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #343434;
    padding: 0% 10%;
    font-size: 10px;
    text-align: center;
}

.linkedin{
    height: 30px;
    width: 30px;
    margin-top: 5px;
}

.container{
    margin-top: -80px;
}

.portrætbillede{
    margin: 10px;
}

.lidtommig{
    color: white;
}

@media all and (min-width: 700px){
    .logo{
        font-size: 60px;
    }
    li a{
        font-size: 20px;
    }
    .container{
        display: flex;
        margin-left: 100px;
    }
    .portrætbillede{
        width: 150%;
        height: 300px;
    }
    .introduktion{
        margin-right: 100px;
        padding-left: 40px;
        font-size: 20px;
    }
    button{
        margin-left: 600px;
        width: 100px;
        height: 30px;
        cursor: pointer;
    }
    .showreel{
        background-color: #343434;
    }
    .show{
        font-size: 40px;
        text-align: center;
        margin-top: 30px;
    }
    video{
        margin-left: 300px;
        width: 800px;
        height: 500px;
        margin-top: -30px;
    }
    footer{
        font-size: 17px;
        padding: 0% 10%;
      }
      .linkedin{
        height: 45px;
        width: 50px;
        padding-top: 10px;
    }
}
        